/* --------------------------
  CSS RESET - MEYER WEB
-------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.container {
  width: 100%;
  background: #12020250; }

.content__container {
  color: white;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 300; }

.content {
  position: relative; }

.section {
  width: 100%; }

.section__container {
  width: 90%;
  margin: 0 auto; }

.section__title {
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: .5em; }

.section__title--medium {
  color: #2B343B;
  text-align: center;
  font-size: 32px;
  line-height: 1.2em;
  margin-bottom: 64px; }

.section__cards {
  background: #2B343B; }

.content__container {
  max-width: 500px; }

.content__intro {
  min-height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, transparent 50%, rgba(0, 0, 0, 0.5) 90%), url(https://d1k976m6pd0u9m.cloudfront.net/public/media/5bbc9b412c7d7.jpeg); }

.content__cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem; }
  .content__cta a {
    margin-top: 1rem; }

@media only screen and (min-width: 400px) {
  .content__cta a:nth-child(2) {
    margin-left: 1rem; } }

.content--parallax {
  background-position: fixed;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.page--block {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.jobs__container {
  display: flex;
  flex-wrap: wrap; }
  .jobs__container .jobs__position {
    width: 100%;
    margin: 10px 0; }
  .jobs__container .jobs__field {
    width: 100%;
    color: #33C56B;
    margin: 10px 0; }

.jobs__title {
  margin-bottom: 10px; }

.cta {
  color: White; }

.container__header {
  min-height: 64px; }

.header {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  line-height: 1.6rem;
  min-height: 64px;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #2B343B; }

.header__logo {
  margin: 0 10px;
  font-size: 2rem; }

.header__nav {
  color: white;
  background: #2B343B;
  order: 3;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 64px; }

.header__action {
  display: none; }

.header__action--small {
  background: #57D487;
  font-size: 2rem;
  line-height: 68px;
  height: 64px;
  width: 64px;
  text-align: center;
  margin-left: auto;
  display: block;
  background-size: 64px;
  color: #fff;
  padding: 0; }

.form__container {
  max-width: 500px;
  margin: 0  auto; }

.form {
  display: flex; }

.form__input {
  width: 100%; }

.form__content {
  width: 100%; }

.nav__list {
  width: 95%;
  margin: 0 auto; }

.nav__item {
  margin: 20px 0;
  width: 100%; }

.nav__link {
  font-size: 16px;
  display: block;
  width: 100%;
  line-height: 3rem; }

.cta--right {
  text-align: center;
  margin-top: 1rem;
  font-size: .9em; }

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto; }
  .cards__container img {
    border-radius: 50%; }

.card {
  flex: 1 0 35%;
  border: 1px solid gray;
  background: white;
  margin-top: 1.5em;
  max-width: 400px; }

@media (max-width: 700px) {
  .card {
    flex: 1 0 100%; } }

@media (min-width: 700px) {
  .card {
    margin: 0 1.5rem; } }

.card__headline, .card__type, .card__title, .card__info {
  width: 90%;
  margin: 10px auto 0 auto; }

.card__headline {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: "logo name" "logo title";
  margin-top: 15px; }

.company__logo {
  grid-area: logo; }

.card__company {
  grid-area: name; }

.card__field {
  grid-area: title; }

.card__title {
  margin-bottom: 24px; }

.card__info {
  display: flex;
  flex: 100%;
  margin-bottom: 1em; }

.card__date {
  flex: 1 0 40%;
  text-align: right; }

.card__location {
  flex: 1 0 60%; }

.card__type, .card__field, .card__location, .card__date {
  font-size: .8em; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

a:hover {
  text-decoration: underline; }

button, .button {
  border: 1px solid white;
  color: white;
  padding: 10px 20px; }

.button--special {
  color: #2B343B;
  background: #57D487; }

.input--group {
  position: relative;
  margin-bottom: 17px; }

.input--group--addon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 10px;
  transform: translateY(-50%); }

input {
  height: 46px;
  padding: 10px 36px;
  border: 1.5px solid black; }

.footer__container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto; }

.footer__card {
  padding: 10px 0;
  flex: 1 0 50%; }
  .footer__card h4 {
    margin: 8px 0 16px; }
  .footer__card ul li {
    margin-bottom: 10px;
    color: #00000070; }

.footer__info p {
  margin: 5px 0; }

body {
  font-family: LatoWeb,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.span--right {
  margin-right: 5px; }

.active {
  display: block; }

.close {
  display: none; }

@media (max-width: 700px) {
  .card {
    flex: 1 0 100%; }
  .form__container {
    max-width: 500px;
    margin: 0 auto; } }

@media only screen and (min-width: 400px) {
  .content__cta a:nth-child(2) {
    margin-left: 1rem; } }

@media (min-width: 700px) {
  .card {
    margin: 0 1.5rem; } }
